/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: blueviolet;
}
/* Utility */
.d-none {
    display: none;
}
.d-block {
    display: block;
}
/* Content */
.container {
    color: white;
    text-align: center;
    padding: 200px 0px;
}